$blue:    #0065ff !default;
$indigo:  #6554c0 !default;
$purple:  #a239c5 !default;
$pink:    #e83e8c !default;
$red:     #ff5630 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$primary:       #ce41ff !default;
$secondary:     #a239c5 !default;
$success:       #36b37e !default;
$info:          #0065ff !default;
$warning:       #ffab00 !default;
$danger:        #ff5630 !default;

@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';