<template>
  <div>
    <div style="justify-content: center;" class="cards-mobile cards" id="cards-desktop">
      <div class="twenty-bottom">
        <div class="card text-center">
          <div class="card-body">
            <h4 class="card-title">Components</h4>
            <h6 class="card-subtitle text-muted">Every item styled</h6>
          </div>
          <img src="https://static.desica.uk/hotlink-ok/illustrations/9vy6.png" width="100%" alt="Components">
          <div class="card-body">
            <p class="card-text">This is the perfect starter kit for anyone new here.</p>
            <a href="/components/all" class="btn btn-primary">Check them out</a>
          </div>
        </div>
      </div>
      <div class="twenty-bottom">
        <div class="card">
          <div class="card-header">
            Important information
          </div>
          <div class="card-body">
            <h4 class="card-title">Covid 19</h4>
            <p class="card-text">Find out how we handle the pandemic</p>
            <nuxt-link to="#" class="card-link">I don't go anywhere yet</nuxt-link>
          </div>
        </div>
      </div>
      <div class="twenty-bottom">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Brand</h4>
            <p class="card-text">All our brand resources are here.</p>
            <nuxt-link to="/brand/type" class="card-link">Typography</nuxt-link>
            <nuxt-link to="/brand/color" class="card-link">Color</nuxt-link>
          </div>
        </div>
      </div>
      <div class="twenty-bottom">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Tone and voice</h4>
            <p class="card-text">It's important that we stay consistent accross all of our products and pages</p>
            <a href="/tone/lang" class="card-link">Language</a>
            <a href="/tone/errors" class="card-link">Writing errors</a>
          </div>
        </div>
      </div>
      <div class="twenty-bottom">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Logos</h4>
            <img src="https://static.desica.uk/hotlink-ok/illustrations/bjnx.png" alt="Brand" width="100%">
            <p class="card-text">Read our guidelines and download our logos</p>
            <a href="/brand/logos" class="card-link">Logos</a>
          </div>
        </div>
      </div>
      <div class="twenty-bottom">
        <div class="card card-body">
          <h4 class="card-title">Ready to go?</h4>
          <p class="card-text">To get started, head over to the repo, download the <a
              href="https://bitbucket.org/desica-dev/desikit/downloads">latest release</a> and start making.
            Alternatively, fork the repo and edit the stylesheet in <a
              href="https://bitbucket.org/desica-dev/desikit/src/master/style.css">style.css</a>.</p>
          <a href="https://bitbucket.org/desica-dev/desikit/src/master/" class="btn btn-primary">Login to Bitbucket</a>
        </div>
      </div>
    </div>
    <div style="justify-content: center; padding: 0;" class="cards-desktop cards" id="cards-mobile">
      <div class="row" style="padding: 20px; justify-content: center;">
        <div class="col-4">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Brand</h4>
              <p class="card-text">All our brand resources are here.</p>
              <a href="/brand/type" class="card-link">Typography</a>
              <a href="/brand/color" class="card-link">Color</a>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Logos</h4>
              <img src="https://static.desica.uk/hotlink-ok/illustrations/bjnx.png" alt="Brand" width="100%">
              <p class="card-text">Read our guidelines and download our logos</p>
              <a href="/brand/logos" class="card-link">Logos</a>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card">
            <div class="card-header">
              Important information
            </div>
            <div class="card-body">
              <h4 class="card-title">Covid 19</h4>
              <p class="card-text">Find out how we handle the pandemic</p>
              <nuxt-link to="#" class="card-link">I don't go anywhere yet</nuxt-link>
            </div>
          </div>
          <div class="card card-body">
            <h4 class="card-title">Ready to go?</h4>
            <p class="card-text">To get started, head over to the repo, download the <a
                href="https://bitbucket.org/desica-dev/desikit/downloads">latest release</a> and start making.
              Alternatively, fork the repo and edit the stylesheet in <a
                href="https://bitbucket.org/desica-dev/desikit/src/master/style.css">style.css</a>.</p>
            <a href="https://bitbucket.org/desica-dev/desikit/src/master/" class="btn btn-primary">Login to
              Bitbucket</a>
          </div>
        </div>
        <div class="col-4">
          <div class="card text-center">
            <div class="card-body">
              <h4 class="card-title">Components</h4>
              <h6 class="card-subtitle text-muted">Every item styled</h6>
            </div>
            <img src="https://static.desica.uk/hotlink-ok/illustrations/9vy6.png" width="100%" alt="Components">
            <div class="card-body">
              <p class="card-text">This is the perfect starter kit for anyone new here.</p>
              <a href="/components/all" class="btn btn-primary">Check them out</a>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Tone and voice</h4>
              <p class="card-text">It's important that we stay consistent accross all of our products and pages</p>
              <a href="/tone/lang" class="card-link">Language</a>
              <a href="/tone/errors" class="card-link">Writing errors</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {

  }

</script>

<style>
  .card {
    margin-bottom: 30px;
  }

  @media only screen and (max-width:800px) {
    #cards-mobile {
      display: none !important;
      visibility: hidden
    }

    #cards-desktop {
      display: unset !important
    }
  }

  @media only screen and (min-width:800px) {
    #cards-mobile {
      display: unset !important;
      visibility: unset
    }

    #cards-desktop {
      display: none !important
    }
  }

  .header {
    text-align: center;
    padding: 20px;
    padding-left: 10%;
    padding-right: 10%;
    height: 100vh;
  }

  @media only screen and (max-width: 800px) {
    .nav-expand {
      display: unset !important;
    }

    .article {
      padding: 0 !important;
    }

    .header {
      padding: 0 !important;
      height: fit-content !important;
    }
  }

  svg {
    max-height: 100%;
    max-width: 100%;
    pointer-events: none;
    vertical-align: bottom;
    overflow: hidden;
  }

  .nav-expand {
    box-shadow: rgba(9, 30, 66, 0.08) 0px 0px 0px 1px, rgba(9, 30, 66, 0.08) 0px 2px 4px 1px;
    color: rgb(107, 119, 140);
    cursor: pointer;
    height: 24px;
    opacity: 1;
    position: absolute;
    top: 32px;
    transform: translate(-50%);
    width: 24px;
    background: 0px center white;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    border-radius: 50%;
    outline: 0px;
    padding: 0px;
    transition: background-color 100ms linear 0s, color 100ms linear 0s, opacity 300ms cubic-bezier(0.2, 0, 0, 1) 0s, transform 300ms cubic-bezier(0.2, 0, 0, 1) 0s;
    margin-left: 304px;
    z-index: 999;
    position: fixed;
    display: none;
  }

  .nav-expand:hover {
    display: unset !important;
  }

  .sidenav:hover~.nav-expand {
    display: unset !important;
  }

  .download {
    position: absolute;
    padding-top: 75px;
    padding-left: 94px;
  }

  .article {
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
  }

  .sidenav-no-scroll {
    overflow: hidden !important;
    margin-bottom: 0 !important;
  }

  .sidenav-no-scroll:hover {
    overflow: hidden !important;
  }

  .sidenav-scroll {
    overflow: hidden !important;
    margin-bottom: 0 !important;
  }

  .sidenav-scroll:hover {
    overflow: scroll !important;
    padding-right: 0 !important;
    margin-bottom: 0 !important;
  }

  html {
    scroll-behavior: smooth;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 8px;
    transition: all 0.3s ease;
    cursor: move;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #E9ECEF;
    widows: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 7px;
    padding: 2px;
    cursor: move;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
    cursor: move;
  }

  .shadow {
    margin-left: 304px;
    bottom: 0px;
    left: -3px;
    opacity: 0.5;
    pointer-events: none;
    position: fixed;
    top: 0px;
    transition: all 0.3s ease;
    width: 3px;
    cursor: ew-resize;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.2) 0px, rgba(0, 0, 0, 0.2) 1px, rgba(0, 0, 0, 0.1) 1px, rgba(0, 0, 0, 0) 100%);
  }

  .shadow-spacer {
    cursor: ew-resize;
    height: 100%;
    left: 83px;
    position: fixed;
    width: 24px;
  }

  #main {
    padding-left: 79px;
  }

  .nav-text {
    padding: 0rem 0.25rem;
    color: #495057;
    margin-bottom: 0 !important;
    font-size: 0.75rem;
    font-weight: bold;
  }

  @media only screen and (max-width: 800px) {
    .cards-mobile {
      display: none !important;
    }

    .cards-desktop {
      display: unset !important;
    }
  }

  .bkg-div {
    min-height: 100vh;
  }

  .title {
    color: white;
    text-align: center;
    padding-top: 20vh;
    font-weight: 600 !important;
  }

  body {
    background-color: #A239C5;
  }

  .sidenav ul {
    margin-top: 70px !important;
  }

  .sidenav {
    height: 100vh;
    background-color: #E9ECEF;
    position: fixed;
    top: 0;
    left: 0;
    width: 304px;
    /* margin-left: 64px; */
    z-index: 998;
    display: grid;
    overflow: hidden;
    display: block;
    padding-right: 10px;
    transition: all 0.3s ease;
    margin-bottom: 0 !important;
  }

  .sidenav-link {
    color: #495057;
    transition: all 0.5s ease;
  }

  .sidenav-link:hover {
    color: #212529;
    background-color: #ced4da;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-top: 8px;
  }

  .sidenav-link:active,
  .sidenav-link.active,
  .sidenav-link-active {
    color: #212529;
    background-color: #adb5bd;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-top: 8px;
    font-weight: bold;
  }

  .sidenav-link-active:hover {
    color: #212529 !important;
    cursor: unset;
  }

  .repo-fade {
    background-image: linear-gradient(#E9ECEF, rgba(233, 236, 239, 0.199));
    position: fixed;
    margin-top: 61px;
    margin-left: 64px;
    height: 51px;
    z-index: 10000000;
    width: 240px;
  }

  .repo-name {
    padding-left: 85px;
    margin-top: 0 !important;
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: 100%;
    padding-right: 10px;
    position: fixed;
    background-color: #E9ECEF;
    width: 304px;
    top: 0px;
  }

  .repo-name img {
    margin-top: 1.25rem;
    height: auto;
    width: 100%;
    position: relative;
    border-radius: 5px;
  }

  .repo-name h6 {
    position: relative;
    margin-top: 2rem !important;
    margin-left: 0.5rem !important;
  }

  @media only screen and (max-width: 800px) {
    .cards {
      margin-left: 10px !important;
      margin-right: 10px !important;
      padding: 0 !important;
    }

    .sidebar {
      z-index: 0;
    }
  }

  .logo-link:hover {
    background-color: #e9ecef79;
  }

  .cards {
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .twenty-bottom {
    margin-bottom: 20px;
  }

</style>
