<template>
    <div class="sidebar">
      <nuxt-link to="/" class="logo-link">
        <img src="https://static.desica.uk/hotlink-ok/Logo-Dark-Purple.png" width="40px" height="40px" />
      </nuxt-link>
      <div></div>
      <div v-if="$auth.loggedIn">
        <a @click="$auth.logout()">
          <img src="https://static.desica.uk/hotlink-ok/profile-logged-in.jpg" alt="profile" width="40px" style="border-radius: 30px; margin-top: 50px; cursor: pointer;">
        </a>
      </div>
      <div v-else>
        <a @click="$auth.login()">
          <img src="https://static.desica.uk/hotlink-ok/profile.png" alt="profile" width="40px" style="border-radius: 30px; margin-top: 50px; cursor: pointer;">
        </a>
      </div>
    </div>
</template>

<style>
    .sidebar {
    background-color: #A239C5;
    height: 100vh;
    width: 64px;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 60px auto 120px;
    align-items: center;
    justify-items: center;
  }
</style>