<template>
  <div>
    <b-alert v-model="showDismissibleAlert" variant="warning" style="position: fixed; width: 100%; z-index: 999;">
      Welcome to our beta. We are glad to have you here, but please use production for public use.
  </b-alert>
  <div class="container">
    <div>
      <h1 style="color:#fff;text-align:center;padding-top:20vh;font-weight:600!important;font-size: 4.5rem;">Desikit</h1>
      <cards style="z-index: -1;"/>
    </div>
  </div>
  </div>
</template>

<script>
import cards from "~/components/cards.vue";

export default {
  layout: 'home',
  components: {
    cards
  },
  data() {
    return {
      showDismissibleAlert: true
    }
  }
}
</script>
